@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'pills.css';

#app {
  font-family: 'Outfit', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
